<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Game ku</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="/">Tournament</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/C:/Windows/System32/game-ku/src/profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/C:/Windows/System32/game-ku/src/tournament.html">Tournament</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/C:/Windows/System32/game-ku/src/leaderboard.html">Leaderboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/C:/Windows/System32/game-ku/src/home.html">Home</a>
              </li>
            </ul>
        </div>
    </div>
    </nav>
    <h1>Mobile Legends Tournament</h1> 
    <h2>Match Schedule</h2>
    <p>Berikut ini jadwal pertandingan 4 tim</p>
    <p>Monday: Maelstorm vs Blue Devils</p>
    <p>Tuesday: Catastrophe vs SSSniperWolf</p>
    <p>Wednesday: (Winning team monday) vs (Losing team Tuesday)</p>
    <p>Thrusday: (Winning team tuesday) vs (Losing team monday) </p>
    <p>Friday (Winning team Thrusday) vs (Losing team Wednesday)</p>
    <p>Saturday: (Winning team friday) vs (Losing team Thrusday) Semifinal </p>
    <p>Sunday: (Winning team Thrusday) vs (Winning team saturday) Final</p>
</body>
</html>